body {
    flex-direction: column;
}

body,
.container,
.message,
.cell {
    display: flex;
    align-items: center;
}

body,
.container {
    gap: 10px;
}

.container,
.message,
.cell {
    justify-content: center;
}

p,
a,
button {
    font-family: "Bebas";
}

p {
    margin: 0;
}

input {
    text-align: center;
    width: 50px;
    height: 24px;
}

button {
    height: 30px;
}

.message {
    border: 1px solid black;
    min-height: 24px;
    padding: 2px 1px;
}

#grid_container {
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: 3px;
}

.cell {
    background-color: lightgray;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.cell:hover {
    cursor: pointer;
}

@font-face {
    font-family: "Bebas";
    src: url(font/BebasNeue-Regular.ttf);
}