body {
    flex-direction: column;
}

body,
.container,
.message,
.cell {
    display: flex;
}

body,
.container,
.message,
.cell {
    align-items: center;
}

body,
.container {
    gap: 10px;
}

.container,
.message,
.cell {
    justify-content: center;
}

p {
    margin: 0;
}

.message {
    padding: 2px;
}

input {
    text-align: center;
    width: 50px;
    height: 24px;
}

button {
    height: 30px;
}

#random_number {
    width: 40px;
}

#removed_items {
    width: 200px;
}

#random_number,
#removed_items,
#sum_marked,
#most_repeated {
    height: 26px;
}

.message {
    border: 1px solid black;
}

#sum_all,
#sum_marked {
    width: 120px;
}

#sum_all {
    height: 24px;
}

#most_repeated,
#not_in_place {
    width: 450px;
}

#grid_container {
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: 3px;
}

.cell {
    background-color: lightgray;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.highlight {
    background-color: orange;
}


.removed {
    background-color: coral;
}


.remove_site:hover {
    background-color: antiquewhite;
}