body {
    flex-direction: column;
}

body,
.container,
.message,
.cell {
    display: flex;
    align-items: center;
}

body,
.container {
    gap: 10px;
}

.container,
.message,
.cell {
    justify-content: center;
}

p {
    margin: 0;
}

input {
    width: 50px;
    height: 24px;
}

input,
#most_repeated,
#not_in_place {
    text-align: center;
}

button {
    height: 30px;
}

.message {
    border: 1px solid black;
    min-height: 24px;
    padding: 2px 1px;
}

#most_repeated,
#not_in_place {
    width: 450px;
}

#grid_container {
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: 3px;
}

.cell {
    background-color: lightgray;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.cell:hover {
    cursor: pointer;
}

.most_repeated {
    background-color: aqua;
}

.clear_cells:hover {
    background-color: lightskyblue;
}

.clear_clicked {
    background-color: red;
}

.clear_clicked:hover {
    background-color: orange;
}